.statement-page {

  min-height: 100vh;

  background:  #f8f7f7;;
}

.top-bar {

  height: 72px;

  padding: 0 16px;

  display: flex;

  align-items: center;

  justify-content: space-between;

  border-bottom: 1px solid #e5e5e5;
}

.top-bar-left {

//   display: flex;

  align-items: center;

//   gap: 12px;
}

.back-btn {

  border: none;

  background: transparent;

  cursor: pointer;
}

.back-btn i {

  font-size: 18px;

  color: #1b2452;
}

.top-bar-left h4 {

  margin: 0;
  padding-top: 4px;

  font-size: 18px;

  font-weight: 500;
}

.qnb-logo {

  width: 90px;

  height: 40px;

  background-image:
    url('/assets/images/instalogo.png');

  background-repeat: no-repeat;

  background-position: center;

  background-size: contain;
}

.account-info {

  padding: 16px;

  border-bottom: 1px solid #ececec;
}

.label {

  margin-bottom: 8px;

  color: #555;
}

.account-info h3 {

  margin: 0;

  font-size: 18px;

  font-weight: 500;
}

.account-type {

  margin-top: 8px;
}

.statement-header {

  padding: 16px;

  background: #fafafa;

  font-size: 15px;
}

.table-header {

  display: flex;

  justify-content: space-between;

  padding: 0 16px 12px;

  font-weight: 600;

  border-bottom: 1px solid #e5e5e5;
}

.transaction-row {

  display: flex;

  justify-content: space-between;

  padding: 18px 16px;

  border-bottom: 1px solid #ececec;
}

.transaction-info {

  display: flex;

  flex-direction: column;

  gap: 6px;
}

.date {

  font-size: 14px;
}

.remarks {

  font-size: 14px;

  color: #333;
}

.amount {

  font-size: 16px;

  font-weight: 500;

  color: #222;

  text-align: right;
}