<!-- <div class="account-section">

  <div class="section-header">

    <h3>Accounts</h3>

    <button
      class="manage-btn"
      routerLink="/accounts">
      Manage
    </button>

  </div>

  <div class="account-card">

    <div class="account-info">

      <div class="bank-logo">
        IB
      </div>

      <div class="account-details">

        <small>SAVING</small>

        <span>XXXX0170</span>

      </div>

      <div class="instapay">

        @instapay

      </div>

    </div>

    <div class="actions">

      <button>
        QR Code
      </button>

      <button>
        Link
      </button>

      <button
        routerLink="/accounts/details">
        Balance
      </button>

    </div>

  </div>

</div> -->


<section class="account-section">

  <div class="section-header">

    <h3>Accounts</h3>

    <button
      class="manage-btn"
      routerLink="/accounts/statement">
      Manage
    </button>

  </div>

  <div class="account-card">

    <div class="account-body">

      <div class="bank-logo">
        
      </div>

      <div class="account-details">

        <span class="account-type">
          SAVING
        </span>

        <span class="account-number">
          XXXX0170
        </span>

      </div>

      <div class="instapay">
        @instapay
      </div>

    </div>

  <div class="account-footer">

  <button>

    <span class="material-icons-outlined">
      qr_code_2
    </span>

    <span>QR Code</span>

  </button>

  <button>

    <span class="material-icons-outlined">
      share
    </span>

    <span>Link</span>

  </button>

  <button
    routerLink="/accounts/details">

    <span class="material-icons-outlined">
      receipt_long
    </span>

    <span>Balance</span>

  </button>

</div>
  </div>

</section>